<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des Produits</div>

    <!-- Afficher liste produit-->
    <div class="panel-body">
      <form  #f="ngForm" (ngSubmit)="onChercher(f.value)">

        <div class="form-group">
          <label>Mot clé :  </label>
          <input type="text" name="MotCle" ngModel>
          <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
            Chercher
          </button>
        </div>
      </form>
      <table class="table table-striped table-bordered" *ngIf="produits" >
        <thead>
        <tr>
          <th>ID</th>
          <th>Designation</th>
          <th>Prix</th>
          <th>IQuantité</th>
        </tr>
        <tr *ngFor="let p of produits._embedded.produits">
          <td>{{p.id}}</td>
          <td>{{p.designation}}</td>
          <td>{{p.price|number:'0.2'}}</td>
          <td>{{p.quantite}}</td>
          <td><a class="btn bg-danger" (click)="onDeleteProduct(p)">Suprimer</a></td>
          <td><a class="btn bg-success" (click)="oneEditProduct(p)">Modifier</a></td>
        </tr>
        </thead>
      </table>
      <ul  *ngIf="pages" class="nav nav-pills">
        <li class="clickable" [ngClass]="i==curentPage?'active':''"  *ngFor="let p of pages;let i =index">
          <a (click)="onPageProduct(i)">{{i}}</a>
        </li>
      </ul>


    </div>


  </div>

  </div>
